@import 'purecss/build/pure-min.css';
@import 'purecss/build/grids-responsive-min.css';

@import 'constants.scss';
@import 'blog.scss';

// Global rules
body {
    background-color: $background-color;
    color: $text-color;
}
a {
    color: $primary-color;
}
.flex-center {
    justify-content: center;
}
.center {
    margin: auto;
}
.content {
    margin-left: 2em;
    margin-right: 2em;
    max-width: $content-max-width;
    @media screen and (min-width: $content-max-width) {
        margin: auto;
    }
}

// Customize purecss
.pure-form {
    legend {
        color: $text-color;
        border-color: $primary-color;
        font-size: 1.5em;
    }
    input[type=text],
    input[type=password]  {
        background-color: $dracula-background;
        color: $dracula-foreground;
        border: none;
        box-shadow: none;
        &:focus {
            background-color: $dracula-current-line;
        }
    }
    label {
        font-weight: bold;
        font-size: 1.5em;
    }
}

// Header
.main-title {
    font-size: 4em;
    text-align: center;
}
.main-nav {
    ul {
        margin: 0;
        padding: 0;
        margin: auto;
        max-width: $content-max-width;
    }
    li {
        text-align: center;
        font-size: 2em;
    }
    li:hover {
        background-color: $secondary-color;
    }
    a {
        display: inline-block;
        padding: 1em 0;
        text-decoration: none;
        width: 100%;
    }
}