// Define color
$background-color: #030515;
$text-color: white;
$primary-color: #F5624D;
$secondary-color: #2B2B2B;

// Media query
$sm: 35.5em;
$md: 48em;
$lg: 64em;
$xl: 80em;
$xxl: 120em;
$xxxl: 160em;
$x4k: 240em;

// Grid
$content-max-width: $md;