// Define color
$background-color: #030515;
$text-color: white;
$primary-color: #F5624D;
$secondary-color: #2B2B2B;

// Dracula theme
$dracula-background: #282a36;
$dracula-current-line: #44475a;
$dracula-foreground: #f8f8f2;
$dracula-comment: #6272a4;

// Media query
$sm: 35.5em;
$md: 48em;
$lg: 64em;
$xl: 80em;
$xxl: 120em;
$xxxl: 160em;
$x4k: 240em;

// Grid
$content-max-width: $md;